<h3>About us</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 text-right lead">
      <p>We are dedicated to the makers,
        <br> the creators,
        <br> the risk-takers.
        <br>
        <br> We wake up
        <br> in the middle of the night
        <br> and furiously write down ideas about how
      </p>
      <h3>to make your online life better.
      </h3>
      <p>
        <br>
        <br>When we're not hard at work,
        <br>we're hard at play
        <br> - we're the loud ones in the bar,
        <br> and we're always the ones
        <br> shutting the place down.
        <br>
      </p>
      <h3>
        <br> Human communication and collaboration
        <br><i> is what drives us,</i>
        <br>
        <br> and it infuses every feature of gCamp.
      </h3>
    </div>
    <div class="col-md-6">
      <%= image_tag "aboutpage.jpg",  class: 'img-responsive' %>
    </div>
  </div>
</div>
