<div class="container-fluid">
  <h1>Frequently Asked Questions<h1>
</div>

<div class="container-fluid">
  <% @faqs.each do |faq| %>
    <h4><%= faq.question %></h4>
    <p><%= faq.answer %></p>
  <% end %>
</div>
